<!-- Recent Cases -->
<section class="portfolio-page-second-version">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-heading">
          <h4 style="font-size: xx-large;">Our</h4>
          <h1 style="color: #009df2;font-size: xxx-large;">Portfolio</h1>
        </div>
      </div>
      <!-- <div class="col-lg-8">
        <div class="portfolio-filters">
          <ul>
              <li class="active" data-filter="*">Show All</li>
              <li data-filter=".category-analysis">Analysis</li>
              <li data-filter=".category-digital">Digital Marketing</li>
              <li data-filter=".category-seo">SEO Optimization</li>
          </ul>
        </div>
      </div> -->
      <div class="col-lg-12">
        <div class="row masonry-layout filters-content normal-col-gap">
          <div class="col-lg-4 masonry-item all category-analysis">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port1.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a href="single-project.html"><i class="fa fa-search"></i></a>
                    <a href="single-project.html"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;">RJIT College</h3>
                    <h5 style="color: white;">BSF College Tekanpur Gwalior</h5>
                    <p style="color: white;">The Institute is offering various undergraduate and postgraduate courses affiliated to Rajiv Gandhi Proudyogiki Vishwavidyalaya (RGPV), Bhopal.</p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-seo">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port2.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a href="single-project.html"><i class="fa fa-search"></i></a>
                    <a href="single-project.html"><i class="fa fa-link"></i></a>
                   <h3 style="color: white;">C I A R</h3>
                   <h5 style="color: white;">Central Institute for Research on Buffaloes</h5>
                   <p style="color: white;">Central Institute for Research on Buffaloes (CIRB) was established in the year 1985 and started functioning from 1 February, 1985.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-digital">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port3.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a href="single-project.html"><i class="fa fa-search"></i></a>
                    <a href="single-project.html"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;">Rishi Galav Public School</h3>
                    <h5 style="color: white;">Best School in Gwalior</h5>
                    <p style="color: white;">Since time immemorial education has been the key factor in developing successful personalities and a well balanced society. Education broadens our horizons and dispels ignorance. It sets stage for a better and brighter tomorrow.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-digital">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port4.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a href="single-project.html"><i class="fa fa-search"></i></a>
                    <a href="single-project.html"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;"> First Fiddle</h3>
                    <h5 style="color: white;">Chine Project</h5>
                    <p style="color: white;">First Fiddle Restaurants, formerly known as The Lazeez Affaire Group, was established in the year 1999 by Priyank Sukhija and Y.P. Ashok. Presently, it is the world’s largest restaurant chain with over 30 restaurants.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-analysis">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port5.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a href="single-project.html"><i class="fa fa-search"></i></a>
                    <a href="single-project.html"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;"> Allure Constructions</h3>
                    <h5 style="color: white;">Allure Constructions Company</h5>
                    <p style="color: white;">Allure Constructions is a young and contemporary real estate company with an objective to create industry milestones.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-seo">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/handmadelovebytanya.png" alt="" style="height: 282px;">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a href="single-project.html"><i class="fa fa-search"></i></a>
                    <a href="single-project.html"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;">Hand Made Love</h3>
                    <h5 style="color: white;">Hand Made Love by Tanya</h5>
                    <p style="color: white;"> At handmadelovebytanya.com, explore the most unique gifts for any kind of person, or occasion.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="main-purple-button">
          <a href="portfolio-v1.html">View more Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>