<!-- Recent Cases -->
<section class="portfolio-page-second-version">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-heading">
          <h4 style="font-size: xx-large;">Our</h4>
          <h1 style="color: #009df2;font-size: xxx-large;">Portfolio</h1>
        </div>
      </div>
      
      <div class="col-lg-12">
        <div class="row masonry-layout filters-content normal-col-gap">
          <div class="col-lg-4 masonry-item all category-analysis">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port1.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a routerLink="/none"><i class="fa fa-search"></i></a>
                    <a routerLink="/none"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;">RJIT College</h3>
                    <h5 style="color: white;">BSF College Tekanpur Gwalior</h5>
                  
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-seo">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port2.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a routerLink="/none"><i class="fa fa-search"></i></a>
                    <a routerLink="/none"><i class="fa fa-link"></i></a>
                   <h3 style="color: white;">C I A R</h3>
                   <h5 style="color: white;">Central Institute for Research on Buffaloes</h5>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-digital">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port3.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a routerLink="/none"><i class="fa fa-search"></i></a>
                    <a routerLink="/none"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;">Rishi Galav Public School</h3>
                    <h5 style="color: white;">Best School in Gwalior</h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-digital">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port4.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a routerLink="/none"><i class="fa fa-search"></i></a>
                    <a routerLink="/none"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;"> First Fiddle</h3>
                    <h5 style="color: white;">Chine Project</h5>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-analysis">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/port5.jpg" alt="">
                <div class="hover-effect">
                  <div class="hover-content">
                    <a routerLink="/none"><i class="fa fa-search"></i></a>
                    <a routerLink="/none"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;"> Allure Constructions</h3>
                    <h5 style="color: white;">Allure Constructions Company</h5>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-seo">
            <div class="case-item">
              <div class="case-thumb">
                <img src="assets/frontend/images/portfolio/handmade.png" >
                <div class="hover-effect">
                  <div class="hover-content">
                    <a routerLink="/none"><i class="fa fa-search"></i></a>
                    <a routerLink="/none"><i class="fa fa-link"></i></a>
                    <h3 style="color: white;">Hand Made Love</h3>
                    <h5 style="color: white;">Hand Made Love by Tanya</h5>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="main-purple-button">
          <a href="portfolio-v1.html">View more Projects</a>
        </div>
      </div>
    </div>
  </div>
</section>