<app-header1></app-header1>

<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Workshop by Pninfosys in MPCT</h1>
          <span><a href="index.html">Home</a>WorkShop</span>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Recent Cases -->
  <section class="recent-cases portfolio-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h6 class="text-center">Workshop of web designing and development by  Mr Vikas Jain</h6>
            <h2 class="text-center">Workshop of Web  Designing & Web Development</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row masonry-layout filters-content normal-col-gap">
            <div class="col-lg-4 masonry-item all category-analysis">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct1.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct1.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-seo">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct2.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct2.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-digital">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct3.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct3.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-digital">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct5.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct5.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-analysis">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct13.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct13.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-seo">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct6.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct6.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-seo">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct14.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct14.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-seo">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct15.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct15.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-seo">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct16.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct16.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-seo">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct17.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct17.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-seo">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct18.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/mpct/mpct18.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
            <div class="col-lg-4 masonry-item all category-seo">
              <div class="case-item">
                <a href="assets/frontend/images/workshop/mpct/mpct19.jpg" class="zoom" target="">
                <div class="case-thumb">
                  <img src="assets/frontend/images/workshop/workshop/mpct/mpct19.jpg" alt="" style="margin-top: 0px;">
                </div>
                </a>
              </div>
            </div>
          </div>
          </div>
      </div>
    </div>
  </section>

<app-footer1></app-footer1>