<app-header></app-header>
<!-- <div id="search">
    <button type="button" class="close">×</button>
      <form>
          <input type="search" value="" placeholder="Type to search..." required="">
          <button type="submit" class="primary-button"><i class="fa fa-search"></i></button>
      </form>
  </div> -->
<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>About Us</h1>
          <span><a href="#">Home</a>About Us</span>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Steps -->
  <section class="steps">
    <div class="section-heading">
      <h4 style="font-size: xx-large;text-align: center;">We are the best</h4>
      <h1 style="color: #009df2;font-size: xxx-large;text-align: center;">For all your needs</h1>
    </div>
      <br>
    <div class="container">
      
      <div class="row">
        <div class="col-lg-3">
          <div class="step-item">
            <div class="item-number">
              <h6>01</h6>
            </div>
            <div class="item-content">
             <img src="assets/images/about/steps/a1-removebg-preview.png" alt="">
             
            </div><br>
            <h4 style="width: 75%;text-align: center;margin-left: 7%;">Consult your idea with us!</h4>
            <div class="item-arrow">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="step-item">
            <div class="item-number">
              <h6>02</h6>
            </div>
            <div class="item-content">
              <img src="assets/images/about/steps/a1-removebg-preview.png" alt="">
            </div><br>
            <h4 style="width: 75%;text-align: center;margin-left: 7%;">We'll Develop your idea</h4>
            <div class="item-arrow">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="step-item">
            <div class="item-number">
              <h6>03</h6>
            </div>
            <div class="item-content">
              <img src="assets/images/about/steps/a3.png" alt="">
            </div><br>
            <h4 style="width: 75%;text-align: center;margin-left: 7%;">We'll Digital Market your idea.
            </h4>
            <div class="item-arrow">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="step-item">
            <div class="item-number">
              <h6>04</h6>
            </div>
            <div class="item-content">
              <img src="assets/images/about/steps/a4-removebg-preview.png" alt="">
            </div><br>
            <h4 style="width: 75%;text-align: center;margin-left: 7%;">Client's happiness
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- About Tips -->
  <section class="about-tips">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6></h6>
            <h2>Who &amp; We are?</h2>
          </div>
          <p>We are a one-stop destination for all digital solution, be it website designing,web development, digital marketing, SEO, mobile apps and full
            maintenance and compliance services for Government and Commercial facilities both large and small.. Our elegant group of Developers provide their innovation who transform your idea into an amazing website  Design or Mobile App Development while keeping every custom project unique.<br><br>We are part of this IT industry since 2018, we not only developed products and websites but also provides internship and trainning to students and make them capable to work in this It software industry, our internship and trainning program is totally based on hand to hand pratical with live projects.<br><br>Our team of IT professionals certified professionals services Dental Offices, Medical Offices, Restaurants, Bars and all types of businesses throughout the Lowcountry and the world.
            Our team of IT professionals certified professionals services  Hosptials, Colleges,  Research Institutes, Schools, Restaurants, Bars and all types of businesses throughout the Lowcountry and the world.
          </p>
         
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video-thumb">
          <!-- <a href="assets/images/video.mp4"><i class="fa fa-play"></i></a> -->
            <img src="assets/images/about/template.png" alt="" class="img-fluid">
           
          <!-- </div> -->
       
          <!-- <img src="images/banner3.jpg" > -->
          <img src="assets/images/video/playicon.png" class=" play-btn" data-toggle="modal" data-target="#exampleModalCenter">
       </div>
        <div class="modal fade" id="exampleModalCenter" >
          <div class="modal-dialog modal-dialog-centered ">
        
            <div class="modal-content" data-target="modal-box">
              <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="videoToggleOff"><h4 class="videoText">X</h4></button> -->
              <div class="modal-body" id="modal-video iframe" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                   <!-- <video width="100%" height="410"    controls loop="loop">
                     <source src="assets/images/video/memories.mp4" type="video/mp4">
                    </video> -->
                   <img src="../../assets/images/about/learn.jpg">
                  </div>
             

              
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>


  

   <!-- Our Services -->
<section class="recent-cases">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-heading">
          <h4 style="font-size: xx-large;">Technologies</h4>
          <h1 style="color: #009df2;font-size: xxx-large;">We works on..</h1>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="portfolio-filters">
          <ul>
              <li class="active" data-filter="*">Show All</li>
              <li data-filter=".web_design">Web Designing</li>
              <li data-filter=".web_dev">Web Development</li>
            
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row masonry-layout filters-content normal-col-gap">
          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/html_5.png" style="width: 75%; margin-left: 39px;"  alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>HTML 5</h4>
                <span>Markup language for Web pages.</span>
              </div>
              
            </div>
          </div>
          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/css_3.png" style="width: 75%; margin-left: 39px;"  alt="">
              </div>
              <div class="down-content">
                <h4>CSS 3</h4>
                <span>Cascading Style Sheets.</span>
              </div>
              
            </div>
          </div>
          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/javascript.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>Javascript</h4>
                <span>programming language of HTML</span>
              </div>
              
            </div>
          </div>
          
          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/jquery.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>jQuery</h4>
                <span>jQuery is a JavaScript Library.</span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/bootstrap.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>Bootstrap</h4>
                <span>JavaScript framework</span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/wordpress.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>Wordpress</h4>
                <span>Content Management System (CMS).

                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_dev">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/php.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>PHP</h4>
                <span>PHP is a Server Scripting Language.

                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/angular.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>Angular</h4>
                <span>JavaScript framework.

                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_dev">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/laravel.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>Laravel</h4>
                <span>PHP based web-framework.
                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/react_js.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>React.js</h4>
                <span>JavaScript library.
                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_dev">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/react_native.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>React Native</h4>
                <span>JavaScript library.
                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_dev">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/node_js.png" style="width: 75%; margin-left: 39px;"  alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>Node.js</h4>
                <span>Open Source Server environment.</span>
              </div>
              
            </div>
          </div>
         
        </div>
      </div>
      
    </div>
  </div>
</section>
 


  <!-- Our Team -->
  <section class="our-team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h3>Our Team</h3>
            <h2>Meet Our Team Members</h2>
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/director.png" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/director.png" alt="">
            </div>
            <div class="down-content">
              <h4>Vikas Jain</h4>
              <span>Director PNINFOSYS </span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/vaibhav.jpg" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                  
                </ul>
              </div>
              <img src="assets/images/about/vaibhav.jpg" alt="" >
            </div>
            <div class="down-content">
              <h4> Vaibhav Sir</h4>
              <span>Senior Advisor</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/niket.jpg" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="assets/images/about/niket.jpg" alt="">
            </div>
            <div class="down-content">
              <h4> Niket Bansal</h4>
              <span>Senior Advisor</span>
            </div>
          </div>
        </div>
        
      
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/rishi.jpg" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="assets/images/about/rishi.jpg" alt="">
            </div>
            <div class="down-content">
              <h4>Rishi Jha</h4>
              <span>General Manager</span>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/ceo.png" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/ceo.png" alt="">
            </div>
            <div class="down-content">
              <h4>Neha<br> Jain</h4>
              <span>CEO PNINFOSYS</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/shivam.jpg" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/shivam.jpg" alt="">
            </div>
            <div class="down-content">
              <h4>shivam Shrivastav</h4>
              <span>HR/UI Developer</span>
            </div>
          </div>
        
        </div>
      
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/chanchal.png" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/chanchal.png" alt="">
            </div>
            <div class="down-content">
              <h4>Chanchal<br> Sharma</h4>
              <span>Developer</span>
            </div>
          </div>
        
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/vishakha.png" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/vishakha.png" alt="">
            </div>
            <div class="down-content">
              <h4>Vishakha<br> Saxena</h4>
              <span>Developer</span>
            </div>
          </div>
        
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/alok.png" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/alok.png" alt="">
            </div>
            <div class="down-content">
              <h4>Alok<br> Saxena</h4>
              <span>Developer</span>
            </div>
          </div>
        
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/yash.png" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/yash.png" alt="">
            </div>
            <div class="down-content">
              <h4>Yash<br> Bhatt</h4>
              <span>  Developer</span>
            </div>
          </div>
        
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/rohit.png" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/rohit.png" alt="">
            </div>
            <div class="down-content">
              <h4>Rohit Kumar<br> Mahor</h4>
              <span>Developer</span>
            </div>
          </div>
        
        </div>
        <div class="col-lg-3">
          <div class="team-item">
            <div class="team-thumb">
              <div class="hover-effect">
                <ul>
                  <li><a href="../../assets/images/about/rekha.png" target="_blank" class="fancybox-pop fancybox.image"><i class="fa fa-search fa-border fa-2x"></i></a></li>
                </ul>
              </div>
              <img src="../../assets/images/about/rekha.png" alt="">
            </div>
            <div class="down-content">
              <h4>Rekha<br>Verma </h4>
              <span>Developer</span>
            </div>
          </div>
        
        </div>

      </div>
    </div>
  </section>
<app-rowslider></app-rowslider>
  
  
  <script type="text/javascript">
    $(document).ready(function() {
   $('video').prop('muted',true).play()
   });
   $('#exampleModalCenter').on('hidden.bs.modal', function () {
  $("#modal-video iframe").attr("src", $("#modal-video iframe").attr("src"));
  });

</script>


<app-footer></app-footer>