<section class="footer-content">
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-heading">
            <img src="assets/frontend/images/colorlogo.png" style="width: 212px;" >

          </div>
          <p class="about-oxana" style="text-align: justify;">PN INFOSYS is a leading global business consulting and IT service company. We provides a full range of maintenance and compliance services for Government and Commercial facilities both large and small. Whether you need to run your business more efficiently or accelerate revenue growth, PN INFOSYS can get you there.</p>
          <ul class="social-icons">
            <li><a routerLink="/none"><i class="fa fa-facebook"></i></a></li>
            <li><a routerLink="/none"><i class="fa fa-twitter"></i></a></li>
            <li><a routerLink="/none"><i class="fa fa-behance"></i></a></li>
            <li><a routerLink="/none"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2">
          <div class="footer-heading">
            <h4>VISIT <br>PN INFOSYS</h4>
          </div>
          
          <ul class="useful-links" style="margin-right: 80px; ">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/service">Services</a></li>
            <li><a routerLink="/training">Training</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a routerLink="/internship-registration-page">Internship</a></li>
          </ul>
          <!-- <ul class="useful-links" style="visibility: hidden;">
            <li>Recent Posts</li>
          </ul> -->
        </div>
        <div class="col-lg-3">
          <div class="footer-heading">
            <h4>Get In Touch!</h4>
          </div>
          <ul class="more-info">
            <li><a href="#">www.pninfosys.com</a> <br>
              <a href="">support@pninfosys.com</a></li>
            <li><a> +91 7000846823 </a> <br>
             <a> +91 7415289378</a></li>
            <li><a>MIG-332<br>
              Darpan Colony,Thatipur,<br>
              Gwalior,Madhya Pradesh</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <div class="footer-heading">
            <h4>COMPANIES WORKSHOP</h4>
          </div>
          <ul class="useful-links" style="margin-right: 10px;">
            <li><a routerLink="/none">Xiaomi MI Company</a><br>
            <a routerLink="/none">August 20 / Mr.Vaibhav Shrivastava</a></li>
            <li><a routerLink="/none">Bentchair Company</a><br>
            <a routerLink="/none">October 06 / Mr.Nicket Bansal</a></li>
            <li><a  routerLink="/none">MPCT College Gwalior</a><br>
            <a  routerLink="/none">November 02 / PN Infosys Team</a></li>
            <li><a  routerLink="/none">RJIT College Tekanpur</a><br>
              <a  routerLink="/none">Febuary 24 / PN Infosys Team</a></li>
          </ul>
          
        </div>
        <div class="col-lg-12">
          <div class="sub-footer">
            <p>Copyright © 2020 <a href="#"> | PN INFOSYS IT COMPANY IN GWALIOR ! </a>. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Go To Top -->
<a href="#" class="go-top"><i class="fa fa-angle-up"></i></a>

