<!-- Our Services -->
<section class="recent-cases">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-heading">
          <h4 style="font-size: xx-large;">Technologies</h4>
          <h1 style="color: #009df2;font-size: xxx-large;">We works on..</h1>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="portfolio-filters">
          <ul>
              <li class="active" data-filter="*">Show All</li>
              <li data-filter=".web_design">Web Designing</li>
              <li data-filter=".web_dev">Web Development</li>
            
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row masonry-layout filters-content normal-col-gap">
          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/html_5.png" style="width: 75%; margin-left: 39px;"  alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>HTML 5</h4>
                <span>Markup language for Web pages.</span>
              </div>
              
            </div>
          </div>
          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/css_3.png" style="width: 75%; margin-left: 39px;"  alt="">
              </div>
              <div class="down-content">
                <h4>CSS 3</h4>
                <span>Cascading Style Sheets.</span>
              </div>
              
            </div>
          </div>
          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/javascript.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>Javascript</h4>
                <span>programming language of HTML</span>
              </div>
              
            </div>
          </div>
          
          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/jquery.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>jQuery</h4>
                <span>jQuery is a JavaScript Library.</span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/bootstrap.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>Bootstrap</h4>
                <span>JavaScript framework</span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/wordpress.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>Wordpress</h4>
                <span>Content Management System (CMS).

                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_dev">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/php.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>PHP</h4>
                <span>PHP is a Server Scripting Language.

                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/angular.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>Angular</h4>
                <span>JavaScript framework.

                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_dev">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/laravel.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>Laravel</h4>
                <span>PHP based web-framework.
                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_design">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/react_js.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>React.js</h4>
                <span>JavaScript library.
                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_dev">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/react_native.png" style="width: 75%; margin-left: 39px;" alt="">
              </div>
              <div class="down-content">
                <h4>React Native</h4>
                <span>JavaScript library.
                </span>
              </div>
              
            </div>
          </div>

          <div class="col-lg-3 masonry-item all web_dev">
            <div class="case-item">
              
              <div class="case-thumb">
                <img src="assets/frontend/images/technology/node_js.png" style="width: 75%; margin-left: 39px;"  alt="">
              </div>
              <div class="down-content" style="height: 118px;">
                <h4>Node.js</h4>
                <span>Open Source Server environment.</span>
              </div>
              
            </div>
          </div>
         
        </div>
      </div>
     
    </div>
  </div>
</section>