<app-header></app-header>

<!-- Page Heading -->
<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Training</h1>
        <span><a href="index.html">Home</a>Training</span>
      </div>
    </div>
  </div>
</div>

<!-- Good Tips -->
<section class="good-tips" style="margin:0px; padding-bottom:0px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <div class="section-heading">
          <!-- <h6>Tips For You!</h6> -->
          <h1 style="color: white;">Helping
            Hands</h1>
            <br>
            <p class="text-justify align-justify" style="color: white;">We have capability to train even novice students, students who don’t have any experience with coding can work efficiently in our training sessions. We need only adamant students who are disciplined enough to pay attention and have that urge in them for learning new things. You will have the experience to work on Live Projects, which will ameliorate your portfolio.
              Basically through these training sessions, we want to help students to grow, Our training sessions are helping hands for adamant students.</p>
        </div>
        <div class="tips-content">
         
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div class="right-image">
          <img src="assets/frontend/images/e-learning.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Recent Cases -->
<section class="recent-cases">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-heading">
          <h4 style="font-size: xx-large;">What will you</h4>
          <h1 style="color: #009df2;font-size: xxx-large;">Learn</h1>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="portfolio-filters">
          
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row masonry-layout filters-content normal-col-gap">
          <div class="col-lg-4 masonry-item all category-analysis">
            <div class="case-item">
              <a href="single-project.html">
              <div class="case-thumb">
                <img src="assets/frontend/images/training/case3.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>Learn HTML, CSS, JAVASCRIPT, BOOTSTRAP, WORDPRESS</h4>
                <span>45 Days to Complete</span>
              </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-seo">
            <div class="case-item">
              <a href="single-project.html">
              <div class="case-thumb">
                <img src="assets/frontend/images/training/case1.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>Learn MYSQL, CORE PHP , OPS, LARAVEL</h4>
                <span>60 Days to Complete</span>
              </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 masonry-item all category-digital">
            <div class="case-item">
              <a href="single-project.html">
              <div class="case-thumb">
                <img src="assets/frontend/images/training/case2.jpg" alt="">
              </div>
              <div class="down-content" style="padding-bottom: 2px;">
                <h4>Javescript, Angular, React Js, Node Js, React Native, Restfull API, Mongo DB, Git, AWS </h4>
                <span>90 Days to Complete</span>
              </div>
              </a>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- Features -->
<section class="features">
  <div class="container">
    <h4 style="font-size: xx-large;">Internship</h4>
          <h1 style="color: #009df2;font-size: xxx-large;">Experience</h1>
    <div class="row">
      
      <div class="col-lg-4">
       
        <div class="feature-item">
          <div class="icon" style="padding-top:15px ;">
            <img src="assets/frontend/images/training/banner_small.png" alt="">
          </div>
          <h4>100% Practical Training</h4>
          <p>We don't use paper and pencil at all in our training sessions.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature-item">
          <div class="icon">
            <img src="assets/frontend/images/training/office_work_6.png" alt="" style="max-width: 154px;">
          </div>
          <h4>Live Projects</h4>
          <p>We make you work on Live projects, in order to strengthen your portfolio.</p>
        </div>
        
      </div>
      <div class="col-lg-4">
        <div class="feature-item">
          <div class="icon">
            <img src="assets/frontend/images/training/laptop_3.png" alt=""  style="max-width: 128px;">
          </div>
          <h4>Innovative Ideas</h4>
          <p>We always inbuilt innovation in our training sessions, to learn something new.</p>
        </div>
        
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
