<div style="text-align:center">
    <h1>
     Our Clients
    </h1>
    <!-- <div>Some tags before</div> -->
      <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="../../assets/images/client/first.jpg"></ng-template>  
      <ng-template carouselSlide><img src="../../assets/images/client/rishiclient.jpg"></ng-template>  
      <ng-template carouselSlide><img src="../../assets/images/client/rjitclient.jpg"></ng-template> 
      <ng-template carouselSlide><img src="../../assets/images/client/rjn.jpg"></ng-template>  
      <ng-template carouselSlide><img src="../../assets/images/client/rjnpic.jpg"></ng-template>  
    </owl-carousel-o>
    <!-- <div>Some tags after</div> -->
  </div>
